<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: mainLayout">

<head th:fragment="header">
    <script src="/js/jsonSubmit.js"></script>
</head>

<div th:fragment="content">
    <form action="/api/admin/createuser" method="post" onsubmit="return jsonSubmit(this, '#')">
        <p>First name: <input type="text" name="firstName" th:required="required"/></p>
        <p>Last name: <input type="text" name="lastName" th:required="required"/></p>
        <p>Email: <input type="text" name="email" th:required="required"/></p>
        <p>Phone: <input type="text" name="phoneNr" th:required="required"/></p>
        <p>Employment percentage: <input type="number" name="employmentPercentage"
                                         pattern="^(100)|([0-9]{1,2})$" th:required="required"/>%</p>
        <p>Kompetanser:
            <select name="competences[]" multiple="multiple">
                <option th:each="comp : ${competences}"
                        th:text="${comp}" th:value="${comp}"></option>
            </select>
        </p>
        <p><input type="submit" value="Opprett"/></p>
    </form>
</div>
</html>