body {
    transition: padding .5s;
}
@media(min-width: 480px) {
    body.navbar-open {
        padding-left: 200px;
    }
}

#burger-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    z-index: 1031; /* This bugs out modals if displayed on a small screen */
}
#burger-menu > * {
    float: left;
}
#burger-menu a {
    line-height: 70px;
    color: #ccc;
    font-size: 22px;
    margin-left: 10px;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        font-size: 18px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.profile-picture img {
    height: 50px;
    width: 50px;
    margin: 10px;
}

#navbar-side {
    width: 200px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 70px;
    background-color: #222;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow: auto;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.6);
    z-index: 1000; /* This bugs out modals if displayed on a small screen */
    transition: transform .5s;
    transform: translateX(-100%);
}

#navbar-side img {
    width: 100px;
    margin: 20px auto;
    display: block;
}

body.no-anim,
.no-anim #navbar-side {
    transition: none;
}

.navbar-open #navbar-side{
    transform: translateX(0);
}
.nav.navbar-nav.navbar-right {
    margin: 0 !important;
    float: right;
}

.dropdown-toggle {
    padding: 10px !important;
    margin: 10px;
    line-height: 30px !important;
    font-size: 18px;
}

.nav.navbar-nav.navbar-right > * {
    float: left;
}


/* Testing av animasjoner */
#navbar-top {
    height: 70px;
}

/* For responsive design */
/* For mobile usage */
@media only screen and (max-width: 768px) {
    .close-close {
        font-size: 300%;
    }
}

/* For desktop usage */
@media only screen and (min-width: 768px) {
    .close-close {
        font-size: 200%;
    }
}

.navbar-item a {
    font-family: Verdana, sans-serif;
    display: block;
    color: #c6c6c6;
    padding: 8px 8px;
    text-decoration: none;
    font-size: 13px;
}

.navbar-item a.active {
    background-color: #1fa3ae;
    color: white;
}

.navbar-item a:hover:not(.active) {
    background-color: #656565;
    color: white;
}

.navbar-item a:hover {
    background-color: #17777f;
}

.close-iconburger {
    color: #1fa3ae !important;
    font-size: 237%;
    padding: 20px;
    height: 70px;
}

.close-iconburger:hover {
    color: #17777f;
    cursor: pointer;
}

.close-close {
    color: #1fa3ae;
    position: absolute;
    font-size: 150%;
    top: 10px;
    right: 13px;
}

.close-close:hover {
    color: #17777f;
    cursor: pointer;
}

a:focus, a:hover { /* TODO: fjerne at det skjer for alle a? tagger? */
    text-decoration: none;
}

/* Class for preventing "jumping" of the website when opening a modal.
This class is added to the body when a modal is shown and removed when hidden */
.modal-prevent-jump {
    transition: none;
}

.list-icons {
    padding-right: 10px;
    font-size: 120%;
}

.img-circle:hover {
    cursor: pointer;
    filter: brightness(80%);
}

.date-input {
    height: 52px;
    font-size: 17px;
}

.bs-placeholder {
    margin-top: 0;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100% !important;
}

.input-box {
    padding: 0 15px;
    font-size: 16px;
    height: 46px;
}

#message-field {
    padding: 10px;
    font-size: medium;
}

.msg-form-wrap {
    margin: 15px;
}

.send-msg {
    height: auto;
}

.komp-navn {
    border: 1px solid #ddd;
    margin: 15px;
}

.timebank-btn {
    margin: 12px 0;
}

.timebank-panel {
    border: 1px solid #bbb;
}
