* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: #f9f9f9;
}

body {
    padding: 90px 0 20px 0;
}

main {
    height: 100%;
}

#welcome-page .btn {
    width: 100%;
}

#welcome-page .btn + .btn {
    margin-top: 15px;
}

#shift-box .panel-title {
    font-size: 22px;
}

#shift-box .panel-body {
    font-size: 18px;
}

#upcoming-shifts {
    display: none;
}

.login-box {
    max-width: 480px;
    margin: 0 auto;     /* 0:up/down, auto:right/left */
    position: relative;
    top: 50%;
    /*transform: translateY(-50%);*/
    border-style: solid;
    border-width: 1px;
    border-color: #4da5ba;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0,0,0,.4);
}

.login-box .btn {
    width: 100%;
    margin-bottom: 15px;
}

.modal:before {
    display: block;
    content: " ";
    height: 35%;
}    

.account-box {
    margin-top: 15px;
}

.account-box table {
    background-color: white;
}

.account-box table tr th,
.account-box table tr td {
    vertical-align: middle;
}

.account-box input {
    background: inherit;
    height: 34px;
    padding: 0 10px;
    border: 0;
    width: 100%;
}

.account-box .table>tbody>tr>th {
    padding-left: 15px;
}

.file-btn {
    height: 33px;
    width: 90px;
    position:absolute;
    z-index:2;
    top:0;
    left:0;
    filter: alpha(opacity=0);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity:0;
    background-color:transparent;
    color:transparent;
}

#upload-file-info {
    line-height: 33px;
    height: 33px;
    background: #fff;
    display: inline-block;
    float: left;
    color: #000;
    letter-spacing: -0.3px;
    padding: 0 10px;
    border-radius: 3px;
    margin-left: -5px;
    border: 1px solid #337ab7;
}

#new-pwd-box {
    display: none;
}

#new-pwd-box input {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 3px 0;
}
#new-pwd-box .btn {
    margin: 10px 0;
}

.search-wrap { 
    position: relative;
}

.search-wrap .glyphicon.glyphicon-search {
    position: absolute;
    right: 10px;
    top: 12px;
    font-size: 1.15em;
    color: #666;
}

.search-query {
    padding: 0px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    height: 40px;
}

.check-wrap {
    position: relative;
}

.check-wrap .glyphicon.glyphicon-ok {
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: 1.15em;
    color: #21a56d;
    display: none;
}

#incorrect-pwd {
    display: none;
}

.border-box {
    background: rgba(231, 222, 216, 0.2);
    border: 1px dashed;
    margin-bottom: 15px;
    border-radius: 5px;
}

.btn-edit {
    padding: 4px 7px;
}

.row {
    margin: 0;
}
.spacious-column {
    margin-top: 10px;
}
@media(max-width: 768px) {
    .spacious-column {
        margin-top: 30px;

    }
}

#page-container {
    margin: 20px;
}

meter {
    margin: 0 auto 1em;
    width: 100%;
    height: 0.5em;

    /* Applicable only to Firefox */
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}

meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}

/* Webkit based browsers */
meter[value="1"]::-webkit-meter-optimum-value {
    background: #ee3f1d;
}

meter[value="2"]::-webkit-meter-optimum-value {
    background: #ee9606;
}

meter[value="3"]::-webkit-meter-optimum-value {
    background: #d0d000;
}

meter[value="4"]::-webkit-meter-optimum-value {
    background: #28a628;
}

/* Gecko based browsers */
meter[value="1"]::-moz-meter-bar {
    background: #ee3f1d;
}

meter[value="2"]::-moz-meter-bar {
    background: #ee9606;
}

meter[value="3"]::-moz-meter-bar {
    background: #d0d000;
}

meter[value="4"]::-moz-meter-bar {
    background: #28a628;
}