<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: mainLayout">
<head th:fragment="header">
    <title>Registrer tilgjengelighet</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
</head>
<body>
<div th:fragment="content">
    <div id="addabsence" class="addabsencebox">
        <h3>Registrer fravær</h3>
        <form id="absence" action="#" th:action="@{'api/user/' + @{username} + '/registerabsence/' + @{shift}}" th:object="${makeAvailableModel}" method="post">
            <div id="shifts" class="nextshiftbox">
                <table>
                    <tr>
                        <th>Start</th>
                        <th>Slutt</th>
                    </tr>
                    <tr th:each="shift : @{shifts}"></tr>
                </table>
            </div>
        </form>
    </div>
</div>
</body>
</html>