<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <script th:src="@{/static/js/Navbar.js}" src="../../static/js/Navbar.js" type="text/javascript"></script>
        <link th:href="@{/style/Navbar.css}" href="../static/style/Navbar.css" rel="stylesheet" type="text/css">
    </head>

    <!-- Så vidt jeg ha skjønt finnes navbaren som et fragment i fragments.html, og denne filen skal ikke brukes -Gard -->

    <body>
    <div>
        <nav id="navbar-top" class="navbar navbar-inverse navbar-fixed-top navbar-top-ute" role="navigation">
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a class="navbar-brand hidden-xs" href="#">
                            MinVakt
                        </a>
                        <a class="navbar-brand visible-xs"><i class="ion-navicon-round close-iconburger navbar-brand visible-xs"></i></a>

                    </li>
                    <li class="active">
                        <a class="hidden-xs" href="#">asda</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i style="font-size: 126%;" class="ion-ios-bell"></i></a>
                        <ul class="dropdown-menu">
                            <li><a>Jane Doe vil bytte vakt med deg</a></li>
                            <li><a>James Roe har godtatt å ta vakten din.</a></li>
                            <li><a>More shit</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Ola Nordmann <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a>Endre profilinstillinger</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a>Logg ut</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <ul id="navbar-side" class="navbar-side-ute">
            <li class="navbar-item" style="margin-top: 15%;"><a class="active" href="#timer">Timer</a></li>
            <li class="navbar-item"><a href="#tilgjengelighet">Tilgjengelighet</a></li>
            <li class="navbar-item"><a href="#absence">Fravær</a></li>
            <li class="navbar-item"><a href="#bruker">Navn på innlogget ansatt</a></li>
            <li class="navbar-item"><a href="#loggut">Logg ut</a></li>
            <i id="test123" class="ion-navicon-round close-close hidden-xs"></i>
        </ul>
    </div>


    <div class="container">
        <h2>Test</h2>

    </div>

    </body>
</html>
