<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: mainLayout">

<head th:fragment="header">
    <link th:href="@{/style/schedule.css}" rel="stylesheet" type="text/css"/>
</head>
<div th:fragment="content">
    <!--/*@thymesVar id="shifts" type="java.util.List<no.ntnu.team5.minvakt.model.ShiftModel>"*/-->

    <table>
        <tr>
            <th>Standard hours</th>
            <th>Absent</th>
            <th>Start</th>
            <th>End</th>
        </tr>
        <tr th:each="shift : ${shifts}">
            <td th:text="${shift.standardHours}">Standard hours</td>
            <td th:text="${shift.userModel.firstName + ' ' + shift.userModel.lastName}">User</td>
            <td th:text="${shift.startTime}">Start</td>
            <td th:text="${shift.endTime}">End</td>
        </tr>
    </table>
</div>
</html>