<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: mainLayout">

<head th:fragment="header">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>

    <script src="/js/common/jsonSubmit.js"></script>
</head>

<body>
<div th:fragment="content">
    <div class="page-header">
        <h3>Send ny melding</h3>
    </div>
        <form id="send-message-form" action="/api/admin/message" th:action="@{/api/admin/message}"
              method="post">
            <div class="spacious-column col-sm-6 col-md-6 col-lg-6">
                <h4>Til kompetanse</h4>
                <select name="comp_recs[]" class="selectpicker" title="Ingen valgt"
                        data-live-search="true" multiple="multiple" data-width="100%">
                    <option th:each="comp : ${competences}"
                            th:text="${comp}" th:value="${comp}"></option>
                </select>
            </div>
            <div class="spacious-column col-sm-6 col-md-6 col-lg-6">
                <h4>Brukere å sende til</h4>
                <select name="user_recs[]" class="selectpicker" title="Ingen valgt"
                        data-live-search="true" multiple="multiple" data-width="100%">
                    <option th:each="uname : ${users}" th:text="${uname}"
                            th:value="${uname}"></option>
                </select>
            </div>
            <div class="msg-form-wrap">
            <div class="form-group">
                <textarea required="required" id="message-field" name="message" class="form-control"
                          placeholder="Melding her..." rows="5"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-lg btn-primary form-control send-msg" value="Send"/>
            </div>
            </div>
        </form>
    <!-- Small modal -->
    <div id="message-sent-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content small-modal-content">
                <h2 class="text-center">Melding sendt!</h2>
                <button type="button" class="btn btn-primary">Sweet</button>
            </div>
        </div>
    </div>
    <script>
        $("#send-message-form").submit((e) => {
            e.preventDefault();
            return jsonSubmitFns(e.target, () => { // alternative way of writing function() with slight difference to 'this'
                $('#message-sent-modal').modal("show");
            });
        });
        $("#message-sent-modal .btn").click(() => {
            $('#message-sent-modal').modal("hide");
        });
    </script>
</div>
</body>
</html>