

:root {
    --border-color-calendar: #D0D0D0;
}

.month {
    text-align: center;
    border-bottom: 1px solid var(--border-color-calendar);
}

.tabletable {
    table-layout: fixed;
}

.cell-cal, .cell-day, .weekNr {
    border-right: 1px solid var(--border-color-calendar);
    border-top: none !important;
    border-bottom: 1px solid var(--border-color-calendar);
}

.weekNr, .left {
    border-left: 1px solid var(--border-color-calendar);
}

.right {
    border-right: 1px solid var(--border-color-calendar);
}

.month {
    font-size: 150%;
}

.ion-arrow-left-b:hover, .ion-arrow-right-b:hover {
    cursor: pointer;
    color: #17777f;

}
.ion-arrow-left-b, .ion-arrow-right-b {
    color: #1fa3ae;
    font-size: 130%;
}

#monthYear {
    padding-top: 13px;
}

.cell-cal {
    text-align: center;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.inactive-month {
    background-color: #e3e3e3;
}

.today {
    background-color: #3096a7;
    color: white;
}

.hover-adjust {
    background-color: #cbcbcb;
    cursor: pointer;
}

.hover-adjust-inactive {
    /*background-color: #bbbbbb !important;*/
    background-color: #b0b0b0 !important;
}

.hover-adjust-today {
    background-color: #277987 !important;
}

.cell-day {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /*TODO: legg inn man, tirs, osv hvis mobil*/
}

.weekNr {
    width: 10px;
}

.cell-day, .weekNr {
    font-weight: bold;
    text-align: center;
    background-color: #9ebbcb;
}