head {
    margin: 0 !important;
}
/*
body {
    padding: 90px 0 20px 0 !important;
}*/

html, body {
    background-color: transparent !important;
}

#fix-width {
    width: 95%;
}

:root {
    --border-color: #c9c9c9;
    --arrow-border: #177E87;
}

.rad {
    width: 100%;
    display: inline-block;
    float: left;
    padding: 0;
    border-left: 1px solid var(--border-color);
    position: relative;
}

.timedisplay, .timedisplay-komp {
    /*background-color: rgba(18, 103, 132, 0.45);*/
    /*background-color: rgb(158, 192, 194);*/ /*rgb(164, 204, 207);*/
    background-color: rgba(102, 183, 190, 0.8); /*rgb(164, 204, 207);*/
    min-height: 10%;
    height: 10%;
    border-top: 1px solid var(--border-color);

    /* For at det skal bli ... dersom for mye tekst */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}


#datedate:hover {
    cursor: pointer;
    color: #a0a0a0;
}

#rammediv {
    width: 100%;

}

.cell, .common-cell, .kompetanse-cell, .dropdown-cell {
    text-align: center;
    display: inline-block;
    float: left;
    min-height: 45px;
    max-height: 45px;
    line-height: 45px;
    overflow: hidden;
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.dropdown-cell, .common-cell {
    width: 11.11%;

}

.dropdown-cell, .kompetanse-cell {
    background-color: #e6e6e6;/*#ededed;*/
}

.kompetanse-cell {
    width: 88.88%;
}

.burger-style {
    font-size: 130%;
    color: #1fa3ae;
}

.ion-arrow-right-a, .ion-arrow-left-a {
    text-shadow: -1px 0 var(--arrow-border), 0 1px var(--arrow-border), 1px 0 var(--arrow-border), 0 -1px var(--arrow-border);
    color: #1fa3ae;
    font-size: 230%;
}

#testingg:hover, #testingg2:hover, #testing:hover, #testing2:hover, .testing:hover {
    cursor: pointer;
}

.burger-style:hover, .ion-arrow-right-a:hover, .ion-arrow-left-a:hover {
    color: #17777f;
    cursor: pointer;
}

.shift-box {
    position: absolute;
    left: 11.11%;
    height: calc(101% - 1px);
    width: calc((11.11%)/3 - 1px);

    /* For sentrering av teksten */
    line-height: 45px;
    text-align: center;
    border-radius: 5px;

    /* For at det skal bli ... dersom for mye tekst */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shift-box:hover /*.timedisplay:hover*/ {
    cursor: pointer;
    filter: brightness(85%);
}

.no-worker, .no-worker-color {
    background-color: rgba(158, 153, 180, 0.75);
    border: 1px solid rgba(124, 120, 142, 0.75);
}

.worker, .worker-color {
    background-color: rgba(158, 229, 123, 0.75);
    border: 1px solid rgba(64, 185, 56, 0.75);
}

.self, .self-color {
    background-color: rgba(147, 208, 230, 0.75);
    border: 1px solid #4f6f7c;
}

.warning-1 {
    background-color: rgba(255, 152, 16, 0.81) !important;
}

.warning-2 {
    background-color: rgba(250, 52, 22, 0.68) !important;
}

#modalOther, #modalOwn, #modalFree {
    display: none;
}

.active-day {
    border: 4px solid #717581 !important;
}

.active-week-left {
    border-right: 1px solid var(--border-color-calendar);
    border-bottom: 1px solid var(--border-color-calendar);
}

.active-week-middle {
    border-right: 1px solid var(--border-color-calendar);
    border-bottom: 1px solid var(--border-color-calendar);
}

.active-week-right {
    border-right: 1px solid var(--border-color-calendar);
    border-bottom: 1px solid var(--border-color-calendar);
}

/* Til folk som er på fakt //TODO: felles for schedule og shifts */
.non-display-class {
    display: none;
}

.co-worker-list {
    max-height: 30vh;
    overflow-y: scroll;
}

.panel-footer {
    border-top: 1px solid #ddd !important;
}

.panel-heading {
    border-bottom: 1px solid #B1B1B1 !important;
}

.panel-heading:hover a {
    text-decoration: underline;
}

.co-worker-panel-box:hover {
    background-color: #cbcbcb;
    cursor: pointer;
}

.color-box {
    height: 20px;
    width: 20px;
    float: right;
    border-radius: 3px;
}

.colors {
    float: right;
}

.color-margin {
    margin-bottom: 2%;
}

.chooseDa {
    float: left;
    margin-top: 2%;
}

#overskrift {
    border-bottom: 1px solid #eaeaea;
    margin-top: 0;
    padding-bottom: 5px;
}