<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: mainLayout">

<head th:fragment="header">
    <script src="/js/libs/zxcvbn.min.js"></script>
    <script src="/js/common/jsonSubmit.js"></script>
    <script src="/js/useraccount.js"></script>
    <script src="/js/imageUpload.js"></script>
</head>

<body>

<div th:fragment="content">
    <h3 id="account-title">Profil</h3>
    <div class="border-box row">
        <div class="spacious-column col-md-5 col-lg-5">
            <table class="table">
                <tr>
                    <td class="no-border">
                        <img class="img-rounded" src=""
                             th:if="${navbar.profileImageB64 != null}"
                             th:src="${'data:' + navbar.profileImageType + ';base64,' + navbar.profileImageB64}"
                             height="256" width="256" style="margin: auto 0;"/>
                        <img class="img-rounded" th:if="${navbar.profileImageB64 == null}" src="/images/profile.png"
                             height="256" width="256" style="margin: auto 0;"/>
                    </td>
                </tr>
                <tr>
                    <td class="no-border">
                        <form onsubmit="return uploadImage(this, '/user/profile', 'imgUpload')"
                              action="/api/images/upload" method="post">
                            <div style="position:relative;overflow:auto;">
                                <a class='btn btn-primary pull-left' href='javascript:;'>
                                    Velg bilde
                                    <input id="imgUpload" type="file" class="file-btn" name="file_source" size="40"/>
                                </a>
                                <span id="upload-file-info" style="display:none"></span>
                            </div>
                            <input name="b64_content" type="text" hidden="hidden"/>
                            <input name="content_type" type="text" hidden="hidden"/>
                            <br/>
                            <input class="btn btn-primary" type="submit" value="Last opp"/>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <div class="spacious-column col-md-7 col-lg-7">
            <div class="account-box">
                <table class="table">
                    <tr>
                        <th>Navn</th>
                        <td class="input-cell">
                            <input type="text" th:value="${user.firstName + ' ' + user.lastName}"
                                   disabled="disabled"/>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>E-post</th>
                        <td class="input-cell">
                            <input type="email" th:value="${user.email}" disabled="disabled"/>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Adresse</th>
                        <td class="input-cell">
                            <input class="sbmts" type="text" th:value="${user.address}" disabled="disabled"/>
                        </td>
                        <td><div class="btn btn-default btn-edit"><span class="glyphicon glyphicon-edit"></span></div></td>
                    </tr>
                    <tr>
                        <th>Fødselsdato</th>
                        <td class="input-cell">
                            <input class="sbmts" type="text" th:value="${user.dateOfBirth}" disabled="disabled"/>
                        </td>
                        <td><div class="btn btn-default btn-edit"><span class="glyphicon glyphicon-edit"></span></div></td>
                    </tr>
                    <tr>
                        <th>Mobil</th>
                        <td class="input-cell">
                            <input class="sbmts" type="text" th:value="${user.phonenumber}" disabled="disabled"/>
                        </td>
                        <td><div class="btn btn-default btn-edit"><span class="glyphicon glyphicon-edit"></span></div></td>
                    </tr>
                    <tr>
                        <th>Passord</th>
                        <td>
                            <div id="new-pwd-box">
                                <form action="/api/password/change" method="post" class="sbmts"
                                      onsubmit="return jsonSubmitFns(this, success, failure)">
                                    <input class="pwd-input" type="password" name="old_password"
                                           placeholder="Nåværende passord"/>
                                    <input id="new-pwd" class="pwd-input" type="password" pattern=".{8,}"
                                           name="new_password"
                                           placeholder="Nytt passord"/>
                                    <meter max="4" id="password-strength-meter" value="0"></meter>
                                    <input id="rpt-pwd" class="pwd-input" type="password" pattern=".{8,}"
                                           placeholder="Gjenta nytt passord"/>
                                    <div id="incorrect-pwd" class="alert alert-danger">
                                        <p><strong>Passordene er ikke like</strong></p>
                                    </div>
                                    <button type="submit" id="save-pwd-btn"
                                            class="btn btn-primary pull-right">Lagre
                                    </button>
                                </form>
                            </div>
                        </td>
                        <td><div id="edit-pwd" class="btn btn-default btn-edit"><span class="glyphicon glyphicon-edit"></span></div></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>