<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MinVakt</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css"/>

    <link rel="stylesheet" href="/style/common/navbar.css"/>
    <link rel="stylesheet" href="/style/common/modal.css"/>
    <link rel="stylesheet" href="/style/schedule.css"/>

    <!-- Ikke endre her no, det virker -->

    <!--TODO: Remove unused, maybe we dont need datepicker AND datetimepicker?-->
    <!--<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>

    <script src="/js/common/jsonSubmit.js"></script>
    <script src="/js/common/navbar.js"></script>
    <script src="/js/common/modal.js"></script>
    <script src="/js/schedule.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/js/registeravailability.js"></script>
</head>

<div th:include="fragments :: navbar"></div>
<div class="container test" style="margin-top:5%;">
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Legg inn
        tilgjengelighet
    </button>

    <!-- Knapper for neste og forrige uke -->
    <div>
        <button id="buttonPreviousWeek" class="btn btn-primary" type="button"><i class="ion-arrow-left-c"></i> Vis forrige uke</button>
        <button id="buttonNextWeek" class="btn btn-primary" type="button">Vis neste uke<i class="ion-arrow-right-c"></i></button>
    </div>

    <p style="position: absolute; top: 75px; right: 20px;">Du har jobbet x timer PLACEHOLDER<br />Uke nr, år</p>

    <div class="shiftsheet" style="margin-top: 20px;">

        <!-- Fra dag 1 til dag 7 -->
        <div class="dayDisplay">
            <div class="dayTop">Mandag</div>
            <div class="dayInnhold">
                <div class="line-box"><p class="time-display">00:00</p></div>
                <div class="line-box"><p class="time-display">02:00</p></div>
                <div class="line-box"><p class="time-display">04:00</p></div>
                <div class="line-box"><p class="time-display">06:00</p></div>
                <div class="line-box"><p class="time-display">08:00</p></div>
                <div class="line-box"><p class="time-display">10:00</p></div>
                <div class="line-box"><p class="time-display">12:00</p></div>
                <div class="line-box"><p class="time-display">14:00</p></div>
                <div class="line-box"><p class="time-display">16:00</p></div>
                <div class="line-box"><p class="time-display">18:00</p></div>
                <div class="line-box"><p class="time-display">20:00</p></div>
                <div class="line-box"><p class="time-display">22:00</p><p class="time-display-bottom">24:00</p></div>
                <!-- Tider på venstre side av tabellen -->
                <!-- slutt tider til venstre -->
            </div>
        </div>
        <div class="dayDisplay">
            <div class="dayTop">Tirsdag</div>
            <div class="dayInnhold">
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
            </div>
        </div>
        <div class="dayDisplay">
            <div class="dayTop">Onsdag</div>
            <div class="dayInnhold">
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
            </div>
        </div>
        <div class="dayDisplay">
            <div class="dayTop">Torsdag</div>
            <div class="dayInnhold">
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
            </div>
        </div>
        <div class="dayDisplay">
            <div class="dayTop">Fredag</div>
            <div class="dayInnhold">
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
            </div>
        </div>
        <div class="dayDisplay">
            <div class="dayTop">Lørdag</div>
            <div class="dayInnhold">
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
            </div>
        </div>
        <div class="dayDisplay">
            <div class="dayTop">Søndag</div>
            <div class="dayInnhold">
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
            </div>
        </div>
        <!-- slutt dager -->
    </div>
</div>
<!-- end shiftsheet -->

<!-- Modal for informasjon om skift -->
<div id="modalTest" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- header og lukk kryss -->
            <div class="modal-header">
                <i class="close ion-close" data-dismiss="modal"></i>
                <h4 id="modal-shift-title" class="modal-title">Skift informasjon</h4>
            </div>

            <!-- modal body -->
            <div class="modal-body">
                <p id="shift-time">Informasjon om skiftet</p>

                <br></br>

                <!-- Buttons that is bound to a specific type of shift element -->
                <div id="other-workers-panel" class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" href="#co-worker-collapse">
                            <a data-toggle="collapse" href="#co-worker-collapse">Vis ansatte som jobber samtidig som dette skiftet</a>
                        </div>
                        <div id="co-worker-collapse" class="panel-collapse collapse co-worker-list">
                            <div class="panel-body co-worker-panel-box">John Doe</div>
                            <div class="panel-footer co-worker-panel-box">Jane Doe</div>
                            <div class="panel-body co-worker-panel-box">James Doe</div>
                            <div class="panel-footer co-worker-panel-box">Johnny Doe</div>
                            <div class="panel-body co-worker-panel-box">Janie Doe</div>
                            <div class="panel-footer co-worker-panel-box">Richard Roe</div>
                            <div class="panel-body co-worker-panel-box">John Doe</div>
                            <div class="panel-footer co-worker-panel-box">Jane Doe</div>
                            <div class="panel-body co-worker-panel-box">James Doe</div>
                            <div class="panel-footer co-worker-panel-box">Johnny Doe</div>
                            <div class="panel-body co-worker-panel-box">Janie Doe</div>
                            <div class="panel-footer co-worker-panel-box">Richard Roe</div>
                        </div>
                    </div>
                </div>

                <div id="absenceButtonDiv" class="buttonRight" style="display: none;">
                    <button id="absenceButton" class="btn btn-danger" type="button">Legg inn fravær for dette skiftet</button>
                    <br></br><br></br>
                </div>
                <div id="removeAbsenceButtonDiv" style="display: none">
                    <button id="removeAbsenceButton" class="btn btn-success" type="button">Fjern fravær for dette skiftet</button>
                    <br></br><br></br>
                </div>
                <div id="removeAvailabilityButtonDiv" class="buttonRight" style="display: none;">
                    <button id="removeAvailabilityButton" class="btn btn-danger" type="button">Fjern tilgjengelighet for denne perioden</button>
                    <br></br><br></br>
                </div>
                <div id="changeShiftOwnerButtonDiv" style="display: none;">
                    <button id="changeShiftOwnerButton" class="btn btn-primary" type="button">Se om noen andre er ledige til å ta over skiftet</button>
                    <br></br><br></br>
                </div>

                <!-- A drop down list with users that is available to take over a shift -->
                <div id="available-workers-panel" class="panel-group non-display-class">
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" href="#co-worker-available-collapse">
                            <a data-toggle="collapse" href="#co-worker-available-collapse">Velg en ansatt du vil spørre om å ta over skiftet</a>
                        </div>
                        <div id="co-worker-available-collapse" class="panel-collapse collapse co-worker-list">
                            <!-- Workers that are available for taking the shift are displayed here -->
                        </div>
                    </div>
                </div>

                <div id="changeActualStartEndTimesButton" style="display: none;">
                    <button class="btn btn-primary" type="button">Legg inn faktisk start- og sluttidspunkt</button>
                    <br /><br />
                    <div>
                        <form id="startDateShiftTime" method="post" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-xs-3 control-label">Star tid</label>
                                <div class="col-xs-5 date">
                                    <div class="input-group input-append date">
                                        <input type="text" class="form-control" name="date" />
                                        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form id="endDateShiftTime" method="post" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-xs-3 control-label">Slutt tid</label>
                                <div class="col-xs-5 date">
                                    <div class="input-group input-append date">
                                        <input type="text" class="form-control" name="date" />
                                        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- End specific shift buttons -->

                <br></br>
                <br></br>


                <label style="display:none;" for="shift-type" class="control-label">Skift type:</label>
                <div style="display:none;" id="shift-type" class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu">
                        <li><a>skift</a></li>
                        <li>tilgjengelig</li>
                        <li>fravær</li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
                <button type="button" class="btn btn-primary">Lagre endringer</button>
            </div>


            <!-- Shadow over modal when other modals is displayed -->
            <div id="shift-modal-shadow" style="display: none;"></div>
        </div>
    </div>
</div>

<!-- Modal for basic yes/no pop-up -->
<div id="modalYesNo" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm" id="modal-dialogYesNo">
        <div class="modal-content">
            <!-- header og lukk kryss -->
            <div class="modal-header">
                <i class="close ion-close" data-dismiss="modal"></i>
                <h4 class="modal-title" id="yesNo-Question">Skift informasjon</h4>
            </div>
            <!-- modal body -->
            <div class="modal-body">
                <button id="noButton" class="btn btn-danger" type="button" data-dismiss="modal">Nei</button>
                <button id="yesButton" class="btn btn-success" type="button">Ja</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for view profile information about other co-workers -->
<div id="modalUserProfile" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- header og lukk kryss -->
            <div class="modal-header">
                <i class="close ion-close" data-dismiss="modal"></i>
                <h4 class="modal-title co-worker-name">John Doe Placeholder</h4>
            </div>
            <!-- modal body -->
            <div class="modal-body">
                <label>Navn:&nbsp;&nbsp;</label><p class="co-worker-name" style="display: inline-block;">Ola Nordmann</p>
                <br></br>

                <!-- Endre farge på knappene? -->
                <!-- callto eller tel? -->
                <label>Telefon:&nbsp;&nbsp;</label><a href="tel:123456789">123456789</a>
                <button class="btn btn-primary" type="button"><i class="ion-ios-telephone"></i> Ring</button>
                <br></br>

                <label>Addresse: </label><p style="display: inline-block;">&nbsp;&nbsp;Kongens gate 1, Trondheim</p>
                <br></br>

                <label>Epost addresse:&nbsp;&nbsp;</label><a href="mailto:text@minvakt.no">text@minvakt.no</a>
                <button class="btn btn-primary" type="button"><i class="ion-email"></i> Send epost</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for tilgjengelighet -->
<th:block th:include="modals/availability :: modal"></th:block>
</html>