<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:include="layout :: mainLayout">
    <head th:fragment="header">

        <!-- css og js til datepicker -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.45/css/bootstrap-datetimepicker.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css"/>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.45/js/bootstrap-datetimepicker.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>

        <script src="/js/common/jsonSubmit.js"></script>
        <script src="/js/registeravailability.js"></script>
        <!-- slutt css og js til datepicker import -->

        <link rel="stylesheet" href="/style/schedule.css"/>
        <script src="/js/schedule.js"></script>
    </head>

<div th:fragment="content">
<div class="container test">

    <div style="height: 30px">

        <div>
            <div><h3>Egen vaktoversikt</h3></div>
            <p id="work-time-week" style="position: absolute; top: 75px; right: 20px;">Du har jobbet x timer PLACEHOLDER<br />Uke nr, år</p>
        </div>
        <div>
            <div id="buttons-top" style="float: left;">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" style="background-color: #e6e6e6;">Legg inn
                    tilgjengelighet
                </button>
                <button id="choose-week-button" class="btn btn-default" type="button" data-toggle="modal" data-target="#calendarModal">Velg uke</button>
            </div>
            <div class="colors">
                <div class="color-margin"><div class="shift-shift color-box"></div>Vakt&nbsp;</div>
                <div class="color-margin"><div class="absence-absence color-box"></div>Fravær&nbsp;</div>
                <div class="color-margin"><div class="available-available color-box"></div>Tilgjengelighet&nbsp;</div>
            </div>
        </div>
    </div>
    <br/>
    <br/>


    <!-- Knapper for neste og forrige uke -->
    <div style="text-align: center; margin-top: 40px">
        <i id="buttonPreviousWeek" class="ion-arrow-left-a"></i>
        <div th:include="fragments :: calendar"></div>
        <i id="buttonNextWeek" class="ion-arrow-right-a"></i>
        <span id="currentDate">Dato placeholder</span>
    </div>


    <div class="shiftsheet" style="margin-top: 20px;">

        <!-- Fra dag 1 til dag 7 -->
        <div class="dayDisplay">
            <div class="dayTop">Mandag</div>
            <div class="dayInnhold">
                <div class="line-box"><p class="time-display">00:00</p></div>
                <div class="line-box"><p class="time-display">02:00</p></div>
                <div class="line-box"><p class="time-display">04:00</p></div>
                <div class="line-box"><p class="time-display">06:00</p></div>
                <div class="line-box"><p class="time-display">08:00</p></div>
                <div class="line-box"><p class="time-display">10:00</p></div>
                <div class="line-box"><p class="time-display">12:00</p></div>
                <div class="line-box"><p class="time-display">14:00</p></div>
                <div class="line-box"><p class="time-display">16:00</p></div>
                <div class="line-box"><p class="time-display">18:00</p></div>
                <div class="line-box"><p class="time-display">20:00</p></div>
                <div class="line-box"><p class="time-display">22:00</p><p class="time-display-bottom">24:00</p></div>
                <!-- Tider på venstre side av tabellen -->
                <!-- slutt tider til venstre -->
            </div>
        </div>
        <div class="dayDisplay">
            <div class="dayTop">Tirsdag</div>
            <div class="dayInnhold">
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
            </div>
        </div>
        <div class="dayDisplay">
            <div class="dayTop">Onsdag</div>
            <div class="dayInnhold">
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
            </div>
        </div>
        <div class="dayDisplay">
            <div class="dayTop">Torsdag</div>
            <div class="dayInnhold">
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
            </div>
        </div>
        <div class="dayDisplay">
            <div class="dayTop">Fredag</div>
            <div class="dayInnhold">
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
            </div>
        </div>
        <div class="dayDisplay">
            <div class="dayTop">Lørdag</div>
            <div class="dayInnhold">
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
            </div>
        </div>
        <div class="dayDisplay">
            <div class="dayTop">Søndag</div>
            <div class="dayInnhold">
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
                <div class="line-box"></div>
            </div>
        </div>
        <!-- slutt dager -->
    </div>
</div>
<!-- end shiftsheet -->

<!-- Modal for informasjon om skift -->
<div id="modalTest" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- header og lukk kryss -->
            <div class="modal-header">
                <i class="close ion-close" data-dismiss="modal"></i>
                <h4 id="modal-shift-title" class="modal-title">Skift informasjon</h4>
            </div>

            <!-- modal body -->
            <div class="modal-body">
                <p id="shift-time">Informasjon om skiftet</p>

                <br/>

                <!-- Buttons that is bound to a specific type of shift element -->
                <div id="removeAbsenceButtonDiv" style="display: none">
                    <button id="removeAbsenceButton" class="btn btn-success" type="button">Fjern fravær for dette skiftet</button>
                    <br/><br/>
                </div>
                <div id="removeAvailabilityButtonDiv" class="buttonRight" style="display: none;">
                    <button id="removeAvailabilityButton" class="btn btn-danger" type="button">Fjern tilgjengelighet for denne perioden</button>
                    <br/><br/>
                </div>
                <div id="changeShiftOwnerButtonDiv" style="display: none;">
                    <button id="changeShiftOwnerButton" class="btn btn-primary" type="button">Se om noen andre er ledige til å ta over skiftet</button>
                    <br/><br/>
                </div>

                <!-- A drop down list with users that is available to take over a shift -->
                <!-- non-display-class TODO: SJEKK -->
                <div id="available-workers-panel" class="panel-group" style="display: none;">
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" href="#co-worker-available-collapse" aria-expanded="true">
                            <a data-toggle="collapse" href="#co-worker-available-collapse">Velg en ansatt du vil spørre om å ta over skiftet</a>
                        </div>
                        <div id="co-worker-available-collapse" class="panel-collapse collapse co-worker-list" aria-expanded="true">
                            <!-- Workers that are available for taking the shift are displayed here -->
                        </div>
                    </div>
                </div>

                <div id="absenceButtonDiv" class="buttonRight" style="display: none;">
                    <button id="absenceButton" class="btn btn-danger" type="button">Legg inn fravær for dette skiftet</button>
                    <br/><br/>
                </div>

                <div id="changeActualStartEndTimesButtonDiv" style="display: none;">
                    <button id="changeActualStartEndTimesButton" class="btn btn-primary" type="button">Legg inn faktisk start- og sluttidspunkt</button>
                    <br /><br />
                    <div id="changeActualShiftTimesDatePDivs" style="display: none;">
                        <!-- Datepickers for previous shift data change -->
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label label-fixed-margin">Start tid</label>
                                        <div class="input-group date datepicker-fixed-padding" id="newStartShiftDatePicker">
                                            <input type="text" class="form-control" />
                                            <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="col-xs-2 control-label label-fixed-margin">Slutt tid</label>
                                    <div class="input-group date datepicker-fixed-padding" id="newEndShiftDatePicker">
                                        <input type="text" class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $(function () {
                                $('#datetimepicker6').datetimepicker();
                                $('#datetimepicker7').datetimepicker({
                                    useCurrent: false //Important! See issue #1075
                                });
                                $("#datetimepicker6").on("dp.change", function (e) {
                                    $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
                                });
                                $("#datetimepicker7").on("dp.change", function (e) {
                                    $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
                                });
                            });
                        </script>
                        <!-- newStartDateShiftTime and newEndDateShiftTime -->
                        <!-- end linked datepickers -->

                    </div>
                </div>

                <!-- End specific shift buttons -->

                <br/><br/>


                <label style="display:none;" for="shift-type" class="control-label">Skift type:</label>
                <div style="display:none;" id="shift-type" class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu">
                        <li><a>skift</a></li>
                        <li>tilgjengelig</li>
                        <li>fravær</li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
                <button id="change-shift-times-button" type="button" class="btn btn-primary">Lagre endringer</button>
            </div>


            <!-- Shadow over modal when other modals is displayed -->
            <div id="shift-modal-shadow" style="display: none;"></div>
        </div>
    </div>
</div>

<!-- Modal for basic yes/no pop-up -->
<div id="modalYesNo" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm" id="modal-dialogYesNo">
        <div class="modal-content">
            <!-- header og lukk kryss -->
            <div class="modal-header">
                <i class="close ion-close" data-dismiss="modal"></i>
                <h4 class="modal-title" id="yesNo-Question">Skift informasjon</h4>
            </div>
            <!-- modal body -->
            <div class="modal-body">
                <button id="yesButton" class="btn btn-success" type="button">Ja</button>
                <button id="noButton" class="btn btn-danger" type="button" data-dismiss="modal">Nei</button>
            </div>
        </div>
    </div>
</div>


    <!-- Small modal -->
    <div id="response-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content small-modal-content">
                <h3 id="response-model-body" class="text-center">Melding sendt!</h3>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>

<!-- Modal for tilgjengelighet -->
<th:block th:include="modals/availability :: modal"></th:block>
</div>
</html>