<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: mainLayout">
<head th:fragment="header">
    <title>Registrer tilgjengelighet</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/js/registeravailability.js"></script>
    <script th:src="@{/js/Modal.js}" src="../static/js/Modal.js"></script>
    <link th:href="@{/style/Modal.css}" rel="stylesheet" href="../static/style/Modal.css"/>
    <link th:href="@{/style/Navbar.css}" rel="stylesheet" href="../static/style/Navbar.css"/>
</head>
<body>
<div th:fragment="content" class="container">
    <h2>Lag Bruker</h2>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Lag bruker
    </button>

    <div class="modal fade" id="myModal1" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                    <!--<button type="button" class="close-close" >-->
                    <i id="close1" class="ion-close close-color" data-dismiss="modal"></i>
                    <!--</button>-->

                    <h4 class="modal-title">Legg til bruker</h4>

                </div>

                <div class="modal-body">
                    <form action="#" th:action="@{/api/user/create}" th:object="${newUser}" method="post">
                        <p>First name: <input type="text" th:field="*{firstName}" th:required="required"/></p>
                        <p>Last name: <input type="text" th:field="*{lastName}" th:required="required"/></p>
                        <p>Email: <input type="text" th:field="*{email}" th:required="required"/></p>
                        <p>Phone: <input type="text" th:field="*{phoneNr}" th:required="required"/></p>
                        <p>Employment percentage: <input type="number" th:field="*{employmentPercentage}"
                                                         pattern="^(100)|([0-9]{1,2})$" th:required="required"/>%</p>
                        <p>Kompetanser:
                            <select th:list="*{competences}" th:field="*{competences}" multiple="multiple">
                                <option th:each="comp : ${competences}"
                                        th:text="${comp}" th:value="${comp}"></option>
                            </select>
                        </p>
                        <p><input type="submit" value="Create User"/></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <h2>Legg til shift</h2>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Legg til vakt
    </button>

    <div class="modal fade" id="myModal2" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                    <!--<button type="button" class="close-close" >-->
                    <i id="close2" class="ion-close close-color" data-dismiss="modal"></i>
                    <!--</button>-->

                    <h4 class="modal-title">Legg til vakt</h4>

                </div>

                <div class="modal-body">
                    <form action="#" th:action="@{/api/admin/createshift}" th:object="${newShift}" method="post">
                        <p>Velg vaktinnehaver: <input type="object" th:field="*{user}" th:required="required"/></p>
                        <p>Velg start-tidspunkt: <input type="text" th:field="*{startTime}" th:required="required"/><span class="input-group-addon add-on"><span
                                class="glyphicon glyphicon-calendar"></span></span></p>
                        <p>Velg slutt-tidspunkt: <input type="text" th:field="*{endTime}" th:required="required"/><span class="input-group-addon add-on"><span
                                class="glyphicon glyphicon-calendar"></span></span></p>
                        <input type="text" th:hidden="hidden" th:field="*{absent}" th:value="false" th:required="required"/>
                        <p>Kompetanser:
                            <select th:list="*{competences}" th:field="*{competences}" multiple="multiple">
                                <option th:each="comp : ${competences}"
                                        th:text="${comp}" th:value="${comp}"></option>
                            </select>
                        </p>
                        <p><input type="submit" value="Create Shift"/></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <h2>Legg til kompetanse</h2>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Legg til kompetanse
    </button>

    <div class="modal fade" id="myModal3" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                    <!--<button type="button" class="close-close" >-->
                    <i id="close3" class="ion-close close-color" data-dismiss="modal"></i>
                    <!--</button>-->

                    <h4 class="modal-title">Legg til kompetanse</h4>

                </div>

                <div class="modal-body">
                    <form action="#" th:action="@{/api/admin/createcompetence}" th:object="${newCompetence}" method="post">

                        <p><input type="submit" value="Create Competence"/></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>