<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <script src="../static/JS/Calendar.js"></script>
    </head>
    <body>

        <div class="modal fade" id="infoTime" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <i class="ion-close close-color" data-dismiss="modal"></i>
                        <h4 class="modal-title">Informasjon</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered">
                            <tr id="monthAndWeeknr">
                                <td>UKENR</td>
                                <td>MÅNED 2017</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr id="weekdays">
                                <td>Mandag</td>
                                <td>Tirsdag</td>
                                <td>Onsdag</td>
                                <td>Torsdag</td>
                                <td>Fredag</td>
                                <td>Lørdag</td>
                                <td>Søndag</td>
                            </tr>
                            <tr id="week1">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr id="week2">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr id="week3">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr id="week4">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr id="week5">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr id="week6">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </body>
</html>