<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />
        <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />

        <link rel="stylesheet" href="../static/style/calendar.css" />
        <link rel="stylesheet" href="../static/style/Modal.css" />
        <script src="../static/JS/calendar.js"></script>
    </head>
    <body>

    <button data-toggle="modal" data-target="#calendarModal">Test</button>


        <div class="modal fade " id="calendarModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <i class="ion-close close-color" data-dismiss="modal"></i>
                        <h4 class="modal-title">Velg uke</h4> <!--TODO: legg inn i JS endring for velg dato i alle skift-->
                    </div>
                    <div class="modal-body">
                        <table class="table tabletable">
                            <tr id="monthAndWeeknr">
                                <td colspan="3" class="month left"><i class="ion-arrow-left-b"></i></td>
                                <td colspan="2" id="monthYear" class="month">Måned År</td>
                                <td colspan="3" class="month right"><i class="ion-arrow-right-b"></i></td>
                            </tr>
                            <tr id="weekdays">
                                <td class="weekNr">UKENR</td>
                                <td class="cell-day">Mandag</td>
                                <td class="cell-day">Tirsdag</td>
                                <td class="cell-day">Onsdag</td>
                                <td class="cell-day">Torsdag</td>
                                <td class="cell-day">Fredag</td>
                                <td class="cell-day">Lørdag</td>
                                <td class="cell-day">Søndag</td>
                            </tr>
                            <tr id="week1">
                                <td class="weekNr">1</td>
                                <td class="cell"></td>
                                <td class="cell"></td>
                                <td class="cell"></td>
                                <td class="cell"></td>
                                <td class="cell"></td>
                                <td class="cell"></td>
                                <td class="cell"></td>
                            </tr>
                            <tr id="week2">
                                <td class="weekNr">2</td>
                                <td class="cell"></td>
                                <td class="cell"></td>
                                <td class="cell"></td>
                                <td class="cell"></td>
                                <td class="cell"></td>
                                <td class="cell"></td>
                                <td class="cell"></td>
                            </tr>
                            <tr id="week3">
                                <td class="weekNr">3</td>
                                <td class="cell"></td>
                                <td class="cell"></td>
                                <td class="cell"></td>
                                <td class="cell"></td>
                                <td class="cell"></td>
                                <td class="cell"></td>
                                <td class="cell"></td>
                            </tr>
                            <tr id="week4">
                                <td class="weekNr">4</td>
                                <td class="cell"></td>
                                <td class="cell"></td>
                                <td class="cell"></td>
                                <td class="cell"></td>
                                <td class="cell"></td>
                                <td class="cell"></td>
                                <td class="cell"></td>
                            </tr>
                            <tr id="week5">
                                <td class="weekNr">5</td>
                                <td class="cell"></td>
                                <td class="cell"></td>
                                <td class="cell"></td>
                                <td class="cell"></td>
                                <td class="cell"></td>
                                <td class="cell"></td>
                                <td class="cell"></td>
                            </tr>
                            <tr id="week6">
                                <td class="weekNr">6</td>
                                <td class="cell"></td>
                                <td class="cell"></td>
                                <td class="cell"></td>
                                <td class="cell"></td>
                                <td class="cell"></td>
                                <td class="cell"></td>
                                <td class="cell"></td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </body>
</html>