<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: mainLayout">
<body>
<div th:fragment="content">
    <div class="login-box">
        <h3 class="password-text">Opprett passord</h3>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Nytt passord" th:field="*{password}" th:required="required"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Gjenta passord" th:field="*{password}" th:required="required"/>
            </div>
            <div class="alert alert-warning">
                <strong>Obs!</strong> Passordet må være minst 8 tegn.
            </div>
            <button type="submit" class="btn btn-primary">Lagre</button>
        </form>
    </div>
    </div>
</body>
</html>