<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: mainLayout">
<body>
<div th:fragment="content">
    <div class="login-box">
        <h3 class="password-text">Opprett passord</h3>
        <form>
            <div class="form-group">
                <input type="password" id="new-pwd" class="form-control" placeholder="Nytt passord" th:field="*{password}" th:required="required" pattern=".{8,}"/>
            </div>
            <div class="check-wrap">
            <div class="form-group">
                <input type="password" id="rpt-pwd" class="form-control" placeholder="Gjenta passord" th:field="*{password}" th:required="required" pattern=".{8,}"/>
                <span id="check-mark" class="glyphicon glyphicon-ok"></span>
            </div>
            </div>
            <div id="incorrect-pwd" class="alert alert-danger">
                <p class="text-center"><strong>Passordene er ikke like</strong></p>
            </div>
            <div class="alert alert-warning">
                <strong>Obs!</strong> Passordet må være minst 8 tegn.
            </div>
            <button type="submit" id="save-pwd" class="btn btn-primary">Lagre</button>
        </form>
    </div>
    </div>
</body>
</html>