<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: mainLayout">
<body>
<div th:fragment="content">
    <div class="login-box">
        <h3 class="password-text">Glemt passord?</h3>
        <h5 class="text">Fyll inn epost-adressen eller brukernavnet bundet til brukeren. Det vil bli
            sendt en epost med en lenke for å resette passord til epostadressen lagt inn i
            brukeren</h5>
        <form action="#" th:action="@{/api/password/forgot}" th:object="${forgotInfo}"
              method="post">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Epost adresse eller brukernavn"
                       th:field="*{usernameEmail}" th:required="required"/>
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
</div>
</body>
</html>