<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login plz</title>
</head>
<body>
<form action="#" th:action="@{/api/password/forgot}" th:object="${forgotInfo}" method="post">
    <p>Enter your username oremail bound to your account and we will send a link to the account's email where
        you can reset your password.</p>
    <p>Username or email: <input type="text" th:field="*{usernameEmail}" th:required="required"/></p>
    <p><input type="submit" value="Send reset-link"/></p>
</form>
</body>
</html>