<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: mainLayout">
<body>
<div th:fragment="content">
    <div class="login-box">
        <h3 class="password-text">Glemt passord?</h3>
        <h5 class="text">Fyll inn e-post adressen din under for å få tilsendt et nytt passord.</h5>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="E-post adresse"/>
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
</div>
</body>
</html>