<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="navbar">
    <div id="burger-menu">
        <i class="ion-navicon-round close-iconburger navbar-brand"></i>
        <a href="/">
            MinVakt
        </a>
    </div>
    <nav id="navbar-top" class="navbar navbar-inverse navbar-fixed-top navbar-top-ute"
         role="navigation">
        <span th:id="username" style="display: none" th:text="${navbar.username}"></span>
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        <i style="font-size: 126%;" class="ion-ios-bell"></i></a>
                    <ul class="dropdown-menu noti-menu">
                        <li th:each="n: ${navbar.notificationModels}" th:class="${n.actionUrl} != null ? 'yes-no' : 'dismiss'">
                            <div th:if="${n.actionUrl} != null">
                                <p th:text="${n.message}"><!-- melding havner her --></p>
                                <div class="btn-wrap">
                                <form class="noti-form" th:action="@{${n.actionUrl}(accept=true)}" method="post">
                                    <button type="submit" class="btn btn-success ion-checkmark-round"></button>
                                </form>
                                <form class="noti-form" th:action="@{${n.actionUrl}(accept=false)}" method="post">
                                    <button type="submit" class="btn btn-danger ion-close-round"></button>
                                </form>
                                </div>
                            </div>
                            <div th:if="${n.actionUrl} == null">
                                <div class="dismissable-notification">
                                <p th:text="${n.message}"><!-- melding havner her --></p>
                                <form class="noti-form" th:action="@{/api/notifications/close_notification(notification_id=${n.id})}" method="post">
                                    <button type="submit" class="btn btn-link ion-close-round"></button>
                                </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="hidden-xs">
                    <a href="/user/profile" th:text="${name}"></a>
                </li>
                <li class="profile-picture ">
                    <img class="img-circle" th:if="${navbar.profileImageB64 != null}" src=""
                         th:src="${'data:' + navbar.profileImageType + ';base64,' + navbar.profileImageB64}"/>
                    <img class="img-circle" th:if="${navbar.profileImageB64 == null}" src="/images/profile.png"/>
                </li>
            </ul>
        </div>
    </nav>

    <ul id="navbar-side" class="navbar-side-ute">

        <a href="/"><img src="/images/MinVakt_Linje_200.png"/></a>
        <li class="navbar-item"><a th:class="${activeSchedulePage}" href="/user/schedule"><i class="ion-clock list-icons"></i>Egen timeliste</a></li>
        <li class="navbar-item"><a th:class="${activeShiftPage}" href="/shifts"><i class="ion-calendar list-icons"></i>Alle vakter</a></li>
        <li class="navbar-item"><a th:class="${activeListPage}" href="/user/list"><i class="ion-person-stalker list-icons"></i>Kontaktinfo</a></li>
        <li class="navbar-item"><a th:class="${activeTimebankPage}" href="/timebank"><i class="ion-briefcase list-icons"></i>Timebank</a></li>
        <li class="navbar-item"><a th:class="${activeProfilePage}" href="/user/profile"><i class="ion-person list-icons"></i>Min profil</a></li>

        <th:block th:if="${isAdmin}">
            <hr/>
            <li class="navbar-item"><a th:class="${activeAdminCreateShiftPage}" href="/admin/create/shift">Legg til shift</a></li>
            <li class="navbar-item"><a th:class="${activeAdminCreateUserPage}" href="/admin/create/user">Legg til bruker</a></li>
            <li class="navbar-item"><a th:class="${activeAdminCreateCompPage}" href="/admin/create/competence">Legg til kompetanse</a></li>
            <li class="navbar-item"><a th:class="${activeAdminMessagePage}" href="/admin/message">Send melding</a></li>
        </th:block>

        <hr />
        <li class="navbar-item"><a href="/logout"><i class="ion-log-out list-icons"></i>Logg ut</a></li>

        <i id="test123" class="ion-navicon-round close-close hidden-xs"></i>
    </ul>
</div>

<div th:fragment="calendar">
    <div class="modal fade" id="calendarModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <i class="ion-close close-color" data-dismiss="modal"></i>
                    <h4 class="modal-title">Velg uke</h4> <!--TODO: legg inn i JS endring for velg dato i alle skift-->
                </div>
                <div class="modal-body">
                    <table class="table tabletable">
                        <tr id="monthAndWeeknr">
                            <td colspan="3" class="month left"><i class="ion-arrow-left-b"></i></td>
                            <td colspan="2" id="monthYear" class="month">Måned År</td>
                            <td colspan="3" class="month right"><i class="ion-arrow-right-b"></i></td>
                        </tr>
                        <tr id="weekdays">
                            <td class="weekNr">Uke</td>
                            <td class="cell-day">Mandag</td>
                            <td class="cell-day">Tirsdag</td>
                            <td class="cell-day">Onsdag</td>
                            <td class="cell-day">Torsdag</td>
                            <td class="cell-day">Fredag</td>
                            <td class="cell-day">Lørdag</td>
                            <td class="cell-day">Søndag</td>
                        </tr>
                        <tr id="week1">
                            <td class="weekNr">1</td>
                            <td class="cell-cal"></td>
                            <td class="cell-cal"></td>
                            <td class="cell-cal"></td>
                            <td class="cell-cal"></td>
                            <td class="cell-cal"></td>
                            <td class="cell-cal"></td>
                            <td class="cell-cal"></td>
                        </tr>
                        <tr id="week2">
                            <td class="weekNr">2</td>
                            <td class="cell-cal"></td>
                            <td class="cell-cal"></td>
                            <td class="cell-cal"></td>
                            <td class="cell-cal"></td>
                            <td class="cell-cal"></td>
                            <td class="cell-cal"></td>
                            <td class="cell-cal"></td>
                        </tr>
                        <tr id="week3">
                            <td class="weekNr">3</td>
                            <td class="cell-cal"></td>
                            <td class="cell-cal"></td>
                            <td class="cell-cal"></td>
                            <td class="cell-cal"></td>
                            <td class="cell-cal"></td>
                            <td class="cell-cal"></td>
                            <td class="cell-cal"></td>
                        </tr>
                        <tr id="week4">
                            <td class="weekNr">4</td>
                            <td class="cell-cal"></td>
                            <td class="cell-cal"></td>
                            <td class="cell-cal"></td>
                            <td class="cell-cal"></td>
                            <td class="cell-cal"></td>
                            <td class="cell-cal"></td>
                            <td class="cell-cal"></td>
                        </tr>
                        <tr id="week5">
                            <td class="weekNr">5</td>
                            <td class="cell-cal"></td>
                            <td class="cell-cal"></td>
                            <td class="cell-cal"></td>
                            <td class="cell-cal"></td>
                            <td class="cell-cal"></td>
                            <td class="cell-cal"></td>
                            <td class="cell-cal"></td>
                        </tr>
                        <tr id="week6">
                            <td class="weekNr">6</td>
                            <td class="cell-cal"></td>
                            <td class="cell-cal"></td>
                            <td class="cell-cal"></td>
                            <td class="cell-cal"></td>
                            <td class="cell-cal"></td>
                            <td class="cell-cal"></td>
                            <td class="cell-cal"></td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

</html>


