<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="navbar">
    <nav id="navbar-top" class="navbar navbar-inverse navbar-fixed-top navbar-top-ute" role="navigation">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a class="navbar-brand hidden-xs" href="#" style="margin-left: 10px;">
                        MinVakt
                    </a>
                    <a class="navbar-brand visible-xs"><i
                            class="ion-navicon-round close-iconburger navbar-brand visible-xs"></i></a>

                </li>
                <li class="active">
                    <a class="hidden-xs" href="#">asda</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <i style="font-size: 126%;" class="ion-ios-bell"></i></a>
                    <ul class="dropdown-menu">
                        <li th:each="n: ${notifications}">
                            <a th:if="${n.actionUrl} != null">
                                <p th:text="${n.message}">
                                    <!-- melding havner her -->
                                </p>
                                <form action="#" th:action="@{${n.actionUrl}(accept=true)}" method="post">
                                    <button type="submit" class="btn btn-primary">Godta</button>
                                </form>
                                <form action="#" th:action="@{${n.actionUrl}(accept=false)}" method="post">
                                    <button type="submit" class="btn btn-primary">Avslå</button>
                                </form>
                            </a>
                            <a th:if="${n.actionUrl} == null">
                                <p th:text="${n.message}">
                                    <!-- melding havner her -->
                                </p>
                                <form action="#"
                                      th:action="@{/api/notifications/close_notification(notification_id=${n.id})}"
                                      method="post">
                                    <button type="submit" class="btn btn-primary">Lukk</button>
                                </form>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <p th:text="${username}">Ola Nordmann</p>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a>Endre profilinstillinger</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a>Logg ut</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <ul id="navbar-side" class="navbar-side-ute">
        <li class="navbar-item" style="margin-top: 15%;"><a class="active" href="#timer">Timer</a></li>
        <li class="navbar-item"><a href="/user/availability">Tilgjengelighet</a></li>
        <li class="navbar-item"><a th:href="${'/user/' + username + '/absence'}">Fravær</a></li>
        <li class="navbar-item"><a href="/user/profile" th:text="${username}">Brukernavn her</a></li>
        <li class="navbar-item"><a href="/user/list">Kontaktinfo</a></li>
        <li class="navbar-item"><a href="/logout">Logg ut</a></li>
        <i id="test123" class="ion-navicon-round close-close hidden-xs"></i>
    </ul>
</div>
</html>