<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:fragment="mainLayout">
<head>
    <title>MinVakt</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <style>
        * {
            box-sizing: border-box;
        }

        html, body {
            height: 100%;
            background-color: #f9f9f9;
        }

        body {
            padding: 100px 0 20px 0;
        }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>
    <link rel="stylesheet" href="/style/common/navbar.css"/>
    <link rel="stylesheet" href="/style/common/notifications.css"/>
    <link rel="stylesheet" href="/style/calendar.css"/>
    <link href="/style/common/modal.css" rel="stylesheet"/>
    <link rel="icon" href="/images/favicon.ico"/>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/common/common.js"></script>
    <script src="/js/common/modal.js"></script>
    <script src="/js/common/navbar.js"></script>
    <script src="/js/calendar.js"></script>
</head>
<head th:include="this :: header"></head>
<body th:class="${navbar != null} ? 'navbar-open' : ''">
<header th:if="${navbar != null}" th:include="fragments :: navbar"></header>
    <!-- This line is replaced by content from other template -->
<div class="content container-fluid" th:include="this :: content"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    if(document.body.clientWidth <= 480) {
        document.body.classList.remove("navbar-open");
        document.body.classList.add("no-anim");
    }
    setTimeout(function () {
        document.body.classList.remove("no-anim");
    }, 1000);
    /*]]>*/
</script>
</body>
</html>