<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: mainLayout">

<head th:fragment="header">
    <script src="/js/login.js"></script>
</head>

<div th:fragment="content">
    <div id="login" class="login-box">
        <form id="form" th:object="${loginInfo}">
            <div class="form-group">
                <input type="text" autofocus="autofocus" class="form-control" placeholder="Brukernavn"
                       th:field="*{username}" th:required="required"/>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Passord" th:field="*{password}" th:required="required"/>
            </div>
            <div class="checkbox">
                <label><input type="checkbox"/>Husk meg</label>
            </div>
            <button type="submit" class="btn btn-primary" value="Login">Logg inn</button>
        </form>
        <a href="/password/forgot">Glemt passord?</a>
    </div>
</div>
</html>