<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Upcoming Shifts</title>
    <link th:href="@{/style/schedule.css}" rel="stylesheet" type="text/css"/>

    <div th:include="fragments :: headfragment">

    </div>
</head>
<body>
<div th:include="fragments :: navbar"></div>
    <div id="nextshift" class="nextshiftbox">
        <h1>Neste vakter</h1>
        <table>
            <tr>
                <th>Start</th>
                <th>Slutt</th>
            </tr>
            <tr th:each="shift : ${shifts}">
                <td th:text="${shift.startTime}"></td>
                <td th:text="${shift.endTime}"></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>