.test {
    height: 95vh;
}

.dayDisplay {
    width: 14.285714%;
    height: 100%;
    float: left;

    /*display: table-row;*/

    border: 1px solid lightgray;
}

.dayTop {
    /*width: 14.286971837%;*/
    /*width: 14.285714%;*/
    width: 100%;
    height: 5vh;
    line-height: 5vh;
    color: white;
    /*background-color: lightblue;
    border: 2px solid lightgray;*/
    background-color: #4ea2bd;

    text-align: center;
}

.dayInnhold {
    /*height: 94vh; /*95%*/
    height: 89vh;
    /*background-color: blue;*/
    position: relative;
    margin-top: 1px;
}

.dayInnhold:hover {
    background-color: #cecece;
    cursor: pointer;
}

.shiftsheet {
    border: 2px solid lightgray;
    height: 100%;

    position: relative;

    /*z-index: 1336;*/
}

.tid {
    position: absolute;
    left: -3vw;
    top: -1.5vh;
    margin-bottom: 4.4vh;
    z-index: 1337;
}

.marking-lines {
    width: 100%;
    height: 95%;
    /*margin-top: 3%;*/
    /*background-color: blue;*/

    position: absolute;
    /*height: 2px;*/
    width: 100%;
    top: 5vh;
    left: 0px;
    /*background-color: red;*/
    /*background-color: orange;*/
    z-index: -1337;
}

.line {
    position: relative;
    height: 2px;
    width: 100%;

    left: 0px;
    background-color: darkgray;

    margin-bottom: 7.15vh;

    /*margin-top: 7.0%;*/
}

.line:hover {
    cursor: pointer;
}


.shift {
    /* margin-top: 1px;  2px;*/
    /*width: 11.75vw;*/
    height: 44.5vh;/*  44vh;    44.6vh;*/
    background-color: #f0ad4e;
    border: 2px solid #dd9c3f;
    border-radius: 5px;

    text-align: center;
}

.shift:hover {
    background-color: #e0b374;
}

.normal-shift {
    background-color: #5cb85c;
    border-color: #378c37;
}

.normal-shift:hover {
    background-color: #72d772;
}

.other-shift {

}