<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: mainLayout">
<body>

<head th:fragment="header">
    <script src="/js/setpassword.js"></script>
</head>

<div th:fragment="content">
    <div th:if="${keyInvalid}">
        <div><p>This link is invalid. Either the username does not exist or the key is invalid or
            expired.
            If the link originated from a create-user e-mail please try to copy and paste the link
            it manually. If the problem persists please contact your system administrator.
        </p></div>
    </div>

    <div class="login-box" th:unless="${keyInvalid}">
        <h3 class="password-text">Sett passord</h3>
        <form action="#" th:action="@{/api/password/reset}" th:object="${passwordResetInfo}"
              method="post">
            <div class="form-group">
                <input type="password" id="new-pwd" class="form-control" placeholder="Nytt passord"
                       th:required="required" pattern=".{8,}" th:field="*{password}"/>
            </div>
            <div class="check-wrap">
                <div class="form-group">
                    <input type="password" id="rpt-pwd" class="form-control"
                           placeholder="Gjenta passord" th:required="required" pattern=".{8,}"
                           th:field="*{passwordRepeat}"/>
                    <span id="check-mark" class="glyphicon glyphicon-ok"></span>
                </div>
            </div>
            <div id="incorrect-pwd" class="alert alert-danger">
                <p><strong>Passordene er ikke like</strong></p>
            </div>
            <div class="alert alert-warning">
                <strong>Obs!</strong> Passordet må være minst 8 tegn.
            </div>
            <input hidden="hidden" th:field="*{resetKey}" th:value="${passwordResetInfo.resetKey}" />
            <input hidden="hidden" th:field="*{username}" th:value="${passwordResetInfo.username}" />
            <button type="submit" id="save-pwd" class="btn btn-primary">Lagre</button>
        </form>
    </div>
</div>
</body>
</html>