<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout :: mainLayout">
<body th:fragment="content">

<div>
    <form enctype="multipart/form-data" th:action="@{/api/images/upload}" method="post">
        <table>
            <tr>
                <td>File to upload:</td>
                <td><input class="form-control" type="file" name="file"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Upload"/></td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>