<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: mainLayout">
<body>

<head th:fragment="header">
    <script src="/js/useraccount.js"></script>
    <script src="/js/jsonSubmit.js"></script>
</head>

<div th:fragment="content">
    <div class="account-box">
        <h3 id="account-title">Profil</h3>
        <table class="table table-striped">
            <tr>
                <th>Navn</th>
                <td class="input-cell">
                    <!--/*@thymesVar id="user" type="no.ntnu.team5.minvakt.model.UserModel"*/-->
                    <input type="text" th:value="${user.firstName + ' ' + user.lastName}"
                           disabled="disabled"/></td>
                <td><span class="glyphicon glyphicon-edit"></span></td>
            </tr>
            <tr>
                <th>Fødselsdato</th>
                <td class="input-cell">
                    <input type="text" value="22.08.96 (NIY)" disabled="disabled"/></td>
                <td><span class="glyphicon glyphicon-edit"></span></td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td class="input-cell">
                    <input type="text" value="Vanvikan 7125(NIY)" disabled="disabled"/></td>
                <td><span class="glyphicon glyphicon-edit"></span></td>
            </tr>
            <tr>
                <th>Mobil</th>
                <td class="input-cell">
                    <input type="text" th:value="${user.phonenumber}" disabled="disabled"/></td>
                <td><span class="glyphicon glyphicon-edit"></span></td>
            </tr>
            <tr>
                <th>E-post</th>
                <td class="input-cell">
                    <input type="email" th:value="${user.email}" disabled="disabled"/></td>
                <td><span class="glyphicon glyphicon-edit"></span></td>
            </tr>
            <tr>
                <th>Passord</th>
                <td>
                    <!--<input id="fake-pwd-input" type="text" value="••••••••(NIY)"/>-->
                    <div id="new-pwd-box">
                        <form action="#" th:action="@{/password/reset_wa}" th:object="${passwordResetWithAuth}">
                            <input type="password" placeholder="Nåværende passord"/>
                            <input type="password" placeholder="Nytt passord"/>
                            <input type="password" placeholder="Gjenta nytt passord"/>
                            <input type="submit" id="save-pwd-btn" class="btn btn-primary pull-right">Lagre</input>
                        </form>
                    </div>
                </td>
                <td><span id="edit-pwd" class="glyphicon glyphicon-edit"></span></td>
            </tr>
        </table>
    </div>
    <table class="table table-striped">
        <tr>
            <td>
                <img src="" th:src="@{'/api/images/get/' + ${navbar.profileImageId}}" height="256" width="256"
                     style="margin: auto 0;"/>
            </td>
            <td>
                <form enctype="multipart/form-data" th:action="@{/api/images/upload}" method="post">
                    <input class="form-control" type="file" name="file"/>
                    <input type="submit" value="Last opp"/>
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>