<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: mainLayout">
<body>
<div th:fragment="content">
    <section id="welcome-page">
        <div id="shift-box" class="panel panel-primary">
            <div class="panel-heading">
                <h3 id="shift-box-title" class="panel-title">Neste vakt</h3>
            </div>
            <div class="panel-body">
                <div class="date">Torsdag 12.01</div>
                <div class="time">12:00 - 18:00 </div>
                <div id="upcoming-shifts">
                    <hr/>
                    <div class="date">Fredag 13.01</div>
                    <div class="time">18:00 - 22:00 </div>
                    <hr/>
                    <div class="date">Søndag 15.01</div>
                    <div class="time">08:00 - 16:00 </div>
                    <hr/>
                    <div class="date">Tirsdag 17.01</div>
                    <div class="time">10:00 - 14:00 </div>
                </div>
            </div>
        </div>
        <a id="show-more-shifts-btn" href="#" class="btn btn-lg btn-primary">Vis flere vakter</a>
        <a href="#" class="btn btn-lg btn-default">Vis vaktoversikt</a>
    </section>
    <script>
        $("#show-more-shifts-btn").click(function() {
            $("#shift-box-title").text("Kommende vakter");
            $("#upcoming-shifts").slideDown(200);
            $(this).slideUp(150);
        });
    </script>
</div>
</body>
</html>