<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Din timeplan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/static/JS/ScheduleScript.js}" rel="stylesheet" href="../static/style/Schedule.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
    <script th:src="@{/static/JS/ScheduleScript.js}" type="text/javascript" src="../static/JS/ScheduleScript.js"></script>
    <script th:src="@{/css/ScheduleScript.js}" src="../static/JS/Modal.js" type="text/javascript"></script>
    <link th:href="@{/static/JS/ScheduleScript.js}" rel="stylesheet" href="../static/style/Modal.css" />
</head>
<body>

<div th:include="fragments :: navbar">

</div>


<div class="container test">

    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#absenceModal">Legg inn fravær</button>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Legg inn tilgjengelighet</button>

    <div class="shiftsheet" style="margin-top: 20px;">
        <div class="marking-lines">

            <!-- hvis ikkje div virker: <hr class="line"> -->
            <!-- skal en ta med den siste linjen (24:00) eller bare ha 12 stk? -->
            <div class="line"><div class="tid tid-12">00:00</div></div>
            <div class="line"><div class="tid tid-08">02:00</div></div>
            <div class="line"><div class="tid tid-10">04:00</div></div>
            <div class="line"><div class="tid tid-12">06:00</div></div>
            <div class="line"><div class="tid tid-08">08:00</div></div>
            <div class="line"><div class="tid tid-10">10:00</div></div>
            <div class="line"><div class="tid tid-12">12:00</div></div>
            <div class="line"><div class="tid tid-12">14:00</div></div>
            <div class="line"><div class="tid tid-08">16:00</div></div>
            <div class="line"><div class="tid tid-10">18:00</div></div>
            <div class="line"><div class="tid tid-12">20:00</div></div>
            <div class="line"><div class="tid tid-08">22:00</div></div>
            <div class="line"><div class="tid tid-10">24:00</div></div>

        </div>



        <!-- Fra dag 1 til dag 7 -->
        <div class="dayDisplay">
            <div class="dayTop">Mandag</div>
            <div class="dayInnhold">

                <!-- Tider på venstre side av tabellen -->
                <!-- slutt tider til venstre -->
            </div>
        </div>
        <div class="dayDisplay">
            <div class="dayTop">Tirsdag</div>
            <div class="dayInnhold">

            </div>
        </div>
        <div class="dayDisplay">
            <div class="dayTop">Onsdag</div>
            <div class="dayInnhold">
                <div id="1" class="shift normal-shift">Skift 1</div>
                <div id="2" class="shift absence-shift">Skift 2</div>
            </div>
        </div>
        <div class="dayDisplay">
            <div class="dayTop">Torsdag</div>
            <div class="dayInnhold"></div>
        </div>
        <div class="dayDisplay">
            <div class="dayTop">Fredag</div>
            <div class="dayInnhold"></div>
        </div>
        <div class="dayDisplay">
            <div class="dayTop">Lørdag</div>
            <div class="dayInnhold">
                <div id="32" class="shift availible-shift">Her har du gjort deg selv tilgjengelig for å jobbe</div>
            </div>
        </div>
        <div class="dayDisplay">
            <div class="dayTop">Søndag</div>
            <div class="dayInnhold"></div>
        </div>
        <!-- slutt dager -->

    </div>
</div>
<!-- end shiftsheet -->


<!-- Modal for informasjon om skift -->
<div id="modalTest" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- header og lukk kryss -->
            <div class="modal-header">
                <i class="close ion-close" data-dismiss="modal"></i>
                <h4 id="modal-shift-title" class="modal-title">Skift informasjon</h4>
            </div>

            <!-- modal body -->
            <div class="modal-body">
                <p id="shift-time">Informasjon om skiftet</p>

                <!-- Buttons that is bound to a specific type of shift element -->
                <br>

                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" href="#co-worker-collapse">
                            <a data-toggle="collapse" href="#co-worker-collapse">Vis ansatte som jobber på dette skiftet</a>
                        </div>
                        <div id="co-worker-collapse" class="panel-collapse collapse">
                            <div class="panel-body co-worker-panel-box">John Doe</div>
                            <div class="panel-footer co-worker-panel-box">Jane Doe</div>
                            <div class="panel-body co-worker-panel-box">James Doe</div>
                            <div class="panel-footer co-worker-panel-box">Johnny Doe</div>
                            <div class="panel-body co-worker-panel-box">Janie Doe</div>
                            <div class="panel-footer co-worker-panel-box">Richard Roe</div>
                            <div class="panel-body co-worker-panel-box">John Doe</div>
                            <div class="panel-footer co-worker-panel-box">Jane Doe</div>
                            <div class="panel-body co-worker-panel-box">James Doe</div>
                            <div class="panel-footer co-worker-panel-box">Johnny Doe</div>
                            <div class="panel-body co-worker-panel-box">Janie Doe</div>
                            <div class="panel-footer co-worker-panel-box">Richard Roe</div>
                        </div>
                    </div>
                </div>

                <br id="absenceButton" class="buttonRight" style="display: none;">
                    <button class="btn btn-danger" type="button">Legg inn fravær for dette skiftet</button>
                    <br>
                </div>
                <div id="removeAbsenceButton" class="buttonRight" style="display: none">
                    <button class="btn btn-success" type="button">Fjern fravær for dette skiftet</button>
                    <br>
                </div>
                <div id="removeAvailibilityButton" class="buttonRight" style="display: none;">
                    <button class="btn btn-danger" type="button">Fjern tilgjengelighet for denne perioden</button>
                    <br>
                </div>
                <!-- End specific shift buttons -->

                <br>
                <br>


                <label style="display:none;" for="shift-type" class="control-label">Skift type:</label>
                <div style="display:none;" id="shift-type" class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu">
                        <li><a>skift</a></li>
                        <li>tilgjengelig</li>
                        <li>fravær</li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
                <button type="button" class="btn btn-primary">Lagre endringer</button>
            </div>


            <!-- Shadow over modal when other modals is displayed -->
            <div id="shift-modal-shadow" style="display: none;"></div>
        </div>
    </div>
</div>


<!-- Modal for basic yes/no pop-up -->
<div id="modalYesNo" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm" id="modal-dialogYesNo">
        <div class="modal-content">
            <!-- header og lukk kryss -->
            <div class="modal-header">
                <i class="close ion-close" data-dismiss="modal"></i>
                <h4 class="modal-title" id="yesNo-Question">Skift informasjon</h4>
            </div>
            <!-- modal body -->
            <div class="modal-body">
                <button id="noButton" class="btn btn-danger" type="button" data-dismiss="modal">Nei</button>
                <button id="yesButton" class="btn btn-success" type="button">Ja</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for view profile information about other co-workers -->
<div id="modalUserProfile" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- header og lukk kryss -->
            <div class="modal-header">
                <i class="close ion-close" data-dismiss="modal"></i>
                <h4 class="modal-title co-worker-name">John Doe Placeholder</h4>
            </div>
            <!-- modal body -->
            <div class="modal-body">
                <label>Navn:&nbsp;&nbsp;</label><p class="co-worker-name" style="display: inline-block;">Ola Nordmann</p>
                <br>

                <!-- Endre farge på knappene? -->
                <!-- callto eller tel? -->
                <label>Telefon:&nbsp;&nbsp;</label><a href="tel:123456789">123456789</a>
                <button class="btn btn-primary" type="button"><i class="ion-ios-telephone"></i> Ring</button>
                <br>

                <label>Addresse: </label><p style="display: inline-block;">&nbsp;&nbsp;Kongens gate 1, Trondheim</p>
                <br>

                <label>Epost addresse:&nbsp;&nbsp;</label><a href="mailto:text@minvakt.no">text@minvakt.no</a>
                <button class="btn btn-primary" type="button"><i class="ion-email"></i> Send epost</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal for å legge til fravær -->
<div class="modal fade" id="absenceModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <i id="close2" class="ion-close close-color" data-dismiss="modal"></i>
                <h4 class="modal-title">Fravær</h4>
            </div>

            <div class="modal-body">
                <!--Checkbox for tidsfravær, Velg klokkeslett (hvis ikke, fravær for tid ansatt jobber valgt dag)-->
                <input id="chooseTime" type="checkbox">
                <label for="chooseTime" id="labelChooseTime" class="unselectable label-checkbox">&nbsp; Timefravær</label>
                <!--TODO: fiks tooltip på klokkeslett-->

                <!--Checkbox for endagsfravær, dagsfravær for en dag-->
                <input id="oneDay" type="checkbox">
                <label for="oneDay" id="labelOneDay" class="unselectable label-checkbox">&nbsp; Fravær for kun en dag</label><br>
                <br>

                <form id="fraDato" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-3 control-label" id="fraDatoText">Fra dato</label>
                        <div class="col-xs-5 date">
                            <div class="input-group input-append date" id="inputFra">
                                <input id="fraText" type="text" class="form-control" name="date" />
                                <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>
                </form>

                <form id="tilDato" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Til dato</label>
                        <div class="col-xs-5 date">
                            <div class="input-group input-append date" id="inputTil">
                                <input id="tilText" type="text" class="form-control" name="date" />
                                <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>
                </form>


                <!--Select buttons for time-->
                <div id="selectTime">
                    <!--Fra tid-->
                    Fra&nbsp;
                    <div class="btn-group">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span id="timeFra" class="selection">&nbsp;Time&nbsp;</span><span class="caret "></span>
                        </button>
                        <ul id="selectHour" class="dropdown-menu scrollable-menu">
                            <li><a href="#">00&nbsp;</a></li>
                            <li><a href="#">01&nbsp;</a></li>
                            <li><a href="#">02&nbsp;</a></li>
                            <li><a href="#">03&nbsp;</a></li>
                            <li><a href="#">04&nbsp;</a></li>
                            <li><a href="#">05&nbsp;</a></li>
                            <li><a href="#">06&nbsp;</a></li>
                            <li><a href="#">07&nbsp;</a></li>
                            <li><a href="#">08&nbsp;</a></li>
                            <li><a href="#">09&nbsp;</a></li>
                            <li><a href="#">10&nbsp;</a></li>
                            <li><a href="#">11&nbsp;</a></li>
                            <li><a href="#">12&nbsp;</a></li>
                            <li><a href="#">13&nbsp;</a></li>
                            <li><a href="#">14&nbsp;</a></li>
                            <li><a href="#">15&nbsp;</a></li>
                            <li><a href="#">16&nbsp;</a></li>
                            <li><a href="#">17&nbsp;</a></li>
                            <li><a href="#">18&nbsp;</a></li>
                            <li><a href="#">19&nbsp;</a></li>
                            <li><a href="#">20&nbsp;</a></li>
                            <li><a href="#">21&nbsp;</a></li>
                            <li><a href="#">22&nbsp;</a></li>
                            <li><a href="#">23&nbsp;</a></li>
                        </ul>
                    </div>
                    :
                    <div class="btn-group">
                        <button class="btn btn-default btn-sm dropdown-toggle button-sizing" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span id="minFra" class="selection">&nbsp;Min&nbsp;</span><span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu scrollable-menu">
                            <li><a href="#">00&nbsp;</a></li>
                            <li><a href="#">05&nbsp;</a></li>
                            <li><a href="#">10&nbsp;</a></li>
                            <li><a href="#">15&nbsp;</a></li>
                            <li><a href="#">20&nbsp;</a></li>
                            <li><a href="#">25&nbsp;</a></li>
                            <li><a href="#">30&nbsp;</a></li>
                            <li><a href="#">35&nbsp;</a></li>
                            <li><a href="#">40&nbsp;</a></li>
                            <li><a href="#">45&nbsp;</a></li>
                            <li><a href="#">50&nbsp;</a></li>
                            <li><a href="#">55&nbsp;</a></li>
                        </ul>
                    </div>




                </div>
                <!--Til tid-->
                <div id="selectTime2">
                    Til&nbsp;
                    <div class="btn-group">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span id="timeTil" class="selection">&nbsp;Time&nbsp;</span><span class="caret "></span>
                        </button>
                        <ul class="dropdown-menu scrollable-menu">
                            <li><a href="#">00&nbsp;</a></li>
                            <li><a href="#">01&nbsp;</a></li>
                            <li><a href="#">02&nbsp;</a></li>
                            <li><a href="#">03&nbsp;</a></li>
                            <li><a href="#">04&nbsp;</a></li>
                            <li><a href="#">05&nbsp;</a></li>
                            <li><a href="#">06&nbsp;</a></li>
                            <li><a href="#">07&nbsp;</a></li>
                            <li><a href="#">08&nbsp;</a></li>
                            <li><a href="#">09&nbsp;</a></li>
                            <li><a href="#">10&nbsp;</a></li>
                            <li><a href="#">11&nbsp;</a></li>
                            <li><a href="#">12&nbsp;</a></li>
                            <li><a href="#">13&nbsp;</a></li>
                            <li><a href="#">14&nbsp;</a></li>
                            <li><a href="#">15&nbsp;</a></li>
                            <li><a href="#">16&nbsp;</a></li>
                            <li><a href="#">17&nbsp;</a></li>
                            <li><a href="#">18&nbsp;</a></li>
                            <li><a href="#">19&nbsp;</a></li>
                            <li><a href="#">20&nbsp;</a></li>
                            <li><a href="#">21&nbsp;</a></li>
                            <li><a href="#">22&nbsp;</a></li>
                            <li><a href="#">23&nbsp;</a></li>
                        </ul>
                    </div>
                    :
                    <div class="btn-group">
                        <button class="btn btn-default btn-sm dropdown-toggle button-sizing" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span id="minTil" class="selection">&nbsp;Min&nbsp;</span><span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu scrollable-menu">
                            <li><a href="#">00&nbsp;</a></li>
                            <li><a href="#">05&nbsp;</a></li>
                            <li><a href="#">10&nbsp;</a></li>
                            <li><a href="#">15&nbsp;</a></li>
                            <li><a href="#">20&nbsp;</a></li>
                            <li><a href="#">25&nbsp;</a></li>
                            <li><a href="#">30&nbsp;</a></li>
                            <li><a href="#">35&nbsp;</a></li>
                            <li><a href="#">40&nbsp;</a></li>
                            <li><a href="#">45&nbsp;</a></li>
                            <li><a href="#">50&nbsp;</a></li>
                            <li><a href="#">55&nbsp;</a></li>
                        </ul>
                    </div>
                </div>
                <br>
                <br>


                <div class="btn-group">
                    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span id="absenceCause" class="selection">&nbsp;Fraværsgrunn&nbsp;</span><span class="caret "></span>
                    </button>
                    <ul class="dropdown-menu scrollable-menu">
                        <li><a href="#">Egenmelding&nbsp;</a></li>
                        <li><a href="#">Sykemelding&nbsp;</a></li>
                        <li><a href="#">Permisjon&nbsp;</a></li>
                        <li><a href="#">Annet&nbsp;</a></li>
                    </ul>
                </div>
                <br>
                <br>

                <div class="form-group">
                    <label for="elaboration">Utdypning:</label>
                    <textarea class="form-control vresize" rows="4" id="elaboration"></textarea>
                    <!--TODO: fix min size-->
                </div>

            </div>
            <!--TODO:godkjenning av fravær-->
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-xs-5 col-xs-offset-2">
                        <button id="go" type="submit" class="btn btn-default">Legg inn fravær</button>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div><!-- Slutt modal fravær -->


</body>
</html>