<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Din timeplan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Schedule.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <script type="text/javascript" src="JS/ScheduleScript.js"></script>
    <!-- <link rel="stylesheet" href="addShift.css"> -->
</head>
<body>
<div class="container test">
    <div class="shiftsheet">
        <div class="marking-lines">

            <!-- hvis ikkje div virker: <hr class="line"> -->
            <!-- skal en ta med den siste linjen (24:00) eller bare ha 12 stk? -->
            <div class="line"><div class="tid tid-12">00:00</div></div>
            <div class="line"><div class="tid tid-08">02:00</div></div>
            <div class="line"><div class="tid tid-10">04:00</div></div>
            <div class="line"><div class="tid tid-12">06:00</div></div>
            <div class="line"><div class="tid tid-08">08:00</div></div>
            <div class="line"><div class="tid tid-10">10:00</div></div>
            <div class="line"><div class="tid tid-12">12:00</div></div>
            <div class="line"><div class="tid tid-12">14:00</div></div>
            <div class="line"><div class="tid tid-08">16:00</div></div>
            <div class="line"><div class="tid tid-10">18:00</div></div>
            <div class="line"><div class="tid tid-12">20:00</div></div>
            <div class="line"><div class="tid tid-08">22:00</div></div>
            <div class="line"><div class="tid tid-10">24:00</div></div>

        </div>



        <!-- Fra dag 1 til dag 7 -->
        <div class="dayDisplay">
            <div class="dayTop">Mandag</div>
            <div class="dayInnhold">

                <!-- Tider på venstre side av tabellen -->
                <!-- slutt tider til venstre -->
            </div>
        </div>
        <div class="dayDisplay">
            <div class="dayTop">Tirsdag</div>
            <div class="dayInnhold">

            </div>
        </div>
        <div class="dayDisplay">
            <div class="dayTop">Onsdag</div>
            <div class="dayInnhold">
                <div id="1" class="shift normal-shift">Skift 1</div>
                <div id="2" class="shift absence-shift">Skift 2</div>
            </div>
        </div>
        <div class="dayDisplay">
            <div class="dayTop">Torsdag</div>
            <div class="dayInnhold"></div>
        </div>
        <div class="dayDisplay">
            <div class="dayTop">Fredag</div>
            <div class="dayInnhold"></div>
        </div>
        <div class="dayDisplay">
            <div class="dayTop">Lørdag</div>
            <div class="dayInnhold">
                <div id="32" class="shift availible-shift">Her har du gjort deg selv tilgjengelig for å jobbe</div>
            </div>
        </div>
        <div class="dayDisplay">
            <div class="dayTop">Søndag</div>
            <div class="dayInnhold"></div>
        </div>
        <!-- slutt dager -->



        <div class="bullsjhhhit">
            <p>More stuff</p>
        </div>
    </div>
</div>
<!-- end shiftsheet -->


<!-- Modal for informasjon om skift -->
<div id="modalTest" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- header og lukk kryss -->
            <div class="modal-header">
                <i class="close ion-close" data-dismiss="modal"></i>
                <h4 id="modal-shift-title" class="modal-title">Skift informasjon</h4>
            </div>

            <!-- modal body -->
            <div class="modal-body">
                <p id="shift-time">Informasjon om skiftet</p>

                <!-- Buttons that is bound to a specific type of shift element -->
                <br>

                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" href="#co-worker-collapse">
                            <a data-toggle="collapse" href="#co-worker-collapse">Vis ansatte som jobber på dette skiftet</a>
                        </div>
                        <div id="co-worker-collapse" class="panel-collapse collapse">
                            <div class="panel-body co-worker-panel-box">John Doe</div>
                            <div class="panel-footer co-worker-panel-box">Jane Doe</div>
                            <div class="panel-body co-worker-panel-box">James Doe</div>
                            <div class="panel-footer co-worker-panel-box">Johnny Doe</div>
                            <div class="panel-body co-worker-panel-box">Janie Doe</div>
                            <div class="panel-footer co-worker-panel-box">Richard Roe</div>
                            <div class="panel-body co-worker-panel-box">John Doe</div>
                            <div class="panel-footer co-worker-panel-box">Jane Doe</div>
                            <div class="panel-body co-worker-panel-box">James Doe</div>
                            <div class="panel-footer co-worker-panel-box">Johnny Doe</div>
                            <div class="panel-body co-worker-panel-box">Janie Doe</div>
                            <div class="panel-footer co-worker-panel-box">Richard Roe</div>
                        </div>
                    </div>
                </div>

                <div id="absenceButton" class="buttonRight" style="display: none;">
                    <button class="btn btn-danger" type="button">Legg inn fravær for dette skiftet</button>
                    <br>
                </div>
                <div id="removeAbsenceButton" class="buttonRight" style="display: none">
                    <button class="btn btn-success" type="button">Fjern fravær for dette skiftet</button>
                    <br>
                </div>
                <div id="removeAvailibilityButton" class="buttonRight" style="display: none;">
                    <button class="btn btn-danger" type="button">Fjern tilgjengelighet for dette skiftet</button>
                    <br>
                </div>
                <!-- End specific shift buttons -->

                <br>
                <br>


                <label style="display:none;" for="shift-type" class="control-label">Skift type:</label>
                <div style="display:none;" id="shift-type" class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu">
                        <li><a>skift</a></li>
                        <li>tilgjengelig</li>
                        <li>fravær</li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
                <button type="button" class="btn btn-primary">Lagre endringer</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal for basic yes/no pop-up -->
<div id="modalYesNo" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm" id="modal-dialogYesNo">
        <div class="modal-content">
            <!-- header og lukk kryss -->
            <div class="modal-header">
                <i class="close ion-close" data-dismiss="modal"></i>
                <h4 class="modal-title" id="yesNo-Question">Skift informasjon</h4>
            </div>
            <!-- modal body -->
            <div class="modal-body">
                <button id="noButton" class="btn btn-danger" type="button" data-dismiss="modal">Nei</button>
                <button id="yesButton" class="btn btn-success" type="button">Ja</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for view profile information about other co-workers -->
<div id="modalUserProfile" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- header og lukk kryss -->
            <div class="modal-header">
                <i class="close ion-close" data-dismiss="modal"></i>
                <h4 id="co-worker-name" class="modal-title">John Doe Placeholder</h4>
            </div>
            <!-- modal body -->
            <div class="modal-body">
                <label>Navn: </label><p>Ola Nordmann</p>
                <!-- callto eller tel? -->
                <label>Telefon: </label><a href="tel:91007061">91007061</a>
                <button class="btn btn-primary" type="button"><i class="ion-ios-telephone"></i> Ring</button>

                <br>

                <label>Epost addresse: </label><a href="mailto:text@minvakt.no">text@minvakt.no</a>
                <label>Addresse: </label><p>Kongens gate 1, Trondheim</p>



                <button class="btn btn-danger" type="button" data-dismiss="modal">Test</button>
                <button class="btn btn-success" type="button">Ja</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>