<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>Hei!<br/>
    Noen har bedt om passord-bytte for brukeren din. Om dette ikke var deg, vennligst ignorer denne
    e-posten.<br/>
    <br/>
    Denne lenken tar deg til en side der du kan sette nytt passord
    Den er gyldig til <span th:text="${expiry}"></span>. Du kan få en ny lenke ved å trykke <br/>
    "Glemt passord" i login-skjermen inne i MinVakt.
</p>
<p>
    <a th:href="@{${link}}" href="#">Sett nytt passord</a>
</p>
<br/>
<p>Dette er en automatisk generert e-post, svar vil ikke bli lest.</p>
</body>
</html>