<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>Hei!<br/>
    En bruker har blitt laget for deg i MinVakt-systemet. Du må selv sette passord på brukeren.<br/>
    <br/>
    Trykk denne knappen for å sette passord på brukeren.
    Den er gyldig til <span th:text="${expiry}"></span>. Du kan få en ny lenke ved å trykke <br/>
    "Glemt passord" i login-skjermen inne i MinVakt.
</p>
<a th:href="@{${link}}" href="#">Sett nytt passord</a>
<br/>
<p>Dette er en automatisk generert e-post, svar vil ikke bli lest.</p>
</body>
</html>