<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: mainLayout">

<head th:fragment="header">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.45/css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.45/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>

    <script src="/js/common/jsonSubmit.js"></script>
    <script src="/js/registeravailability.js"></script>
</head>

<div th:fragment="content">
    <form action="/api/admin/create/shift" method="post" onsubmit="return jsonSubmitFns(this, data => {
        window.location = '/admin/assign/shift/' + data.id;
    }, console.error, dateProcces(['startTime', 'endTime']))">
        <div class="page-header">
            <h3>Legg til skift</h3>
        </div>
        <div>
            <div class="row">
                <div class="col-md-4 col-sm-6 date">
                    <h4>Fra</h4>
                    <div class="form-group">
                        <div class="input-group input-append date" id="inputFrom">
                            <input data-format="dd/MM/yyyy hh:mm" name="startTime" type="text"
                                   class="form-control date-input" placeholder="Fra ..."/>
                            <span class="input-group-addon"><span
                                    class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 date">
                    <h4>Til</h4>
                    <div class="form-group">
                        <div class="input-group input-append date" id="inputTil">
                            <input data-format="dd/MM/yyyy hh:mm" name="endTime" type="text"
                                   class="form-control date-input" placeholder="Til ..."/>
                            <span class="input-group-addon add-on"><span
                                    class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
                <div class="spacious-column col-md-4 col-sm-12">
                    <h4>Kompetanse</h4>
                    <select name="competences[]" class="selectpicker" data-live-search="true" multiple="multiple"
                            required="required" title="Ingen valgt">
                        <th:block th:each="comp : ${competences}">
                            <div class="form-group">
                                <option th:text="${comp}" th:value="${comp}"></option>
                            </div>
                        </th:block>
                    </select>
                </div>
            </div>
        </div>
        <button type="submit" id="submit" name="submit" class="btn btn-lg btn-primary pull-right">Neste</button>
    </form>
</div>
</html>