<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: mainLayout">

<head th:fragment="header">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>

    <script src="/js/common/jsonSubmit.js"></script>
</head>

<div th:fragment="content">
    <form action="/api/admin/create/user" method="post" onsubmit="return jsonSubmit(this, '#')">
        <div class="page-header">
            <h3>Legg til ny bruker</h3>
        </div>
        <div class="border-box row">
            <div class="spacious-column col-sm-6 col-md-6 col-lg-6">
                <h4>Personinfo</h4>
                <div class="form-group">
                    <input type="text" class="form-control" name="firstName" placeholder="Fornavn" required="required"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="lastName" placeholder="Etternavn"
                           required="required"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="email" placeholder="Epost" required="required"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="employmentPercentage:number"
                           placeholder="Stillingsprosent" required="required"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="phoneNr" placeholder="Mobil" required="required"/>
                </div>
            </div>
            <div class="spacious-column col-sm-6 col-md-6 col-lg-6">
                <h4>Kompetanse</h4>
                <select name="competences[]" class="selectpicker" data-live-search="true" multiple="multiple">
                    <th:block th:each="comp : ${competences}">
                        <div class="form-group">
                            <option th:text="${comp}" th:value="${comp}"></option>
                        </div>
                    </th:block>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary pull-right">Opprett</button>
    </form>
</div>
</html>