<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: mainLayout">
<head th:fragment="header">
    <script src="/js/common/jsonSubmit.js"></script>
</head>

<body>
<div th:fragment="content">
    <div class="login-box">
        <h3 class="password-text">Glemt passord?</h3>
        <h5 class="text">Fyll inn epost-adressen eller brukernavnet bundet til brukeren. Det vil bli
            sendt en epost med en lenke for å resette passord til epostadressen bundet til
            brukeren</h5>
        <form action="#" th:action="@{/api/password/forgot}" method="post"
              onsubmit="return jsonSubmit(this, '/')">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Epost adresse eller brukernavn"
                       name="username_email" th:required="required"/>
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
</div>
</body>
</html>