<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: mainLayout">

<head th:fragment="header">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>

    <script src="/js/common/jsonSubmit.js"></script>
    <style>
        .search-wrap {
            position: relative;
        }

        .search-wrap .glyphicon.glyphicon-search {
            position: absolute;
            right: 10px;
            top: 12px;
            font-size: 1.15em;
            color: #666;
        }

        .search-query {
            padding: 0px 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 100%;
            height: 40px;
        }
    </style>
</head>

<body>
<div th:fragment="content">
    <div class="search-wrap">
        <input type="text" class="search-query" placeholder="Søk etter navn"/>
        <span class="glyphicon glyphicon-search"></span>
    </div>

    <div class="account-box">
        <h3 id="account-title">Ansatte</h3>
        <form action="/api/admin/assign/shift" method="post" onsubmit="return jsonSubmit(this, '#')">
            <table id="employee-table" class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th>Nabbbbvn</th>
                    <th>Mobilnummer</th>
                    <th>Stillingsproset</th>
                    <th>Kompetanse</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td>
                        <div class="radio">
                            <label><input type="radio" name="username" th:value="${user.username}"/></label>
                        </div>
                    </td>
                    <td class="employee-name" th:text="${user.firstName + ' ' + user.lastName}">Navn</td>
                    <td th:text="${user.phonenumber}"></td>
                    <td th:text="${user.employmentPercentage + '%'}"></td>
                    <td><span th:each="comp : ${user.competences}" th:text="${comp + ' '}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
            <input type="text" name="id:number" hidden="hidden" th:value="${shiftid}"/>
            <button type="submit" class="btn btn-primary pull-right">Lagre</button>
        </form>
    </div>
    <div>
    </div>
    <script>
        $(".search-query").on("input", function () {
            var search = $(this).val().toLowerCase();
            var tableRows = $("#employee-table tbody tr");
            tableRows.hide();
            var matches = tableRows.filter(function () {
                var name = $(this).find(".employee-name").text().toLowerCase();
                return name.indexOf(search) > -1;
            });
            matches.show();
        });
    </script>
</div>
</body>
</html>